.InvalidUser{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: xx-large;
 }

 .vertical-center .justify-content-center {
     margin-top: 12%;
     margin-bottom: 12%;
 }



 .justify-content-center .card1 {
     background-color: #5098a7;
     margin: 0 auto;
     height: 100%;
     width: 80%;
 }

 .justify-content-center .card1 .link1 {

     text-decoration: none;
 }

 .justify-content-center .card1 .link1 .icon1 {


     color: white;
     height: 200px;
     width: 100%;
 }

 .justify-content-center .card1 .link1 .title1 {


     color: white;
     text-align: center;

 }

 .justify-content-center .card2 {
     background-color: #636998;
     margin: 0 auto;
     height: 100%;
     width: 80%;
 }

 .justify-content-center .card2 .link2 {

     text-decoration: none;
 }

 .justify-content-center .card2 .link2 .icon2 {


     color: white;
     height: 200px;
     width: 100%;
 }

 .justify-content-center .card2 .link2 .title2 {


     color: white;
     text-align: center;

 }

 .justify-content-center .card3 {
     background-color: #808bde;
     margin: 0 auto;
     height: 100%;
     width: 80%;
 }

 .justify-content-center .card3 .link3 {

     text-decoration: none;
 }

 .justify-content-center .card3 .link3 .icon3 {


     color: white;
     height: 200px;
     width: 100%;
 }

 .justify-content-center .card3 .link3 .title3 {


     color: white;
     text-align: center;

 }

/* media for laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1580px) {
    .InvalidUser{
       display: flex;
       justify-content: center;
       align-items: center;
       color: red;
       font-size: xx-large;
    }

    .vertical-center .justify-content-center {
        margin-top: 12% !important;
        margin-bottom: 12% !important;
    }



    .justify-content-center .card1 {
        background-color: #5098a7 !important;
        margin: 0 auto !important;
        height: 100% !important;
        width: 80% !important;
    }

    .justify-content-center .card1 .link1 {

        text-decoration: none;
    }

    .justify-content-center .card1 .link1 .icon1 {


        color: white;
        height: 200px;
        width: 100%;
    }

    .justify-content-center .card1 .link1 .title1 {


        color: white;
        text-align: center;

    }

    .justify-content-center .card2 {
        background-color: #636998 !important;
        margin: 0 auto !important;
        height: 100% !important;
        width: 80% !important;
    }

    .justify-content-center .card2 .link2 {

        text-decoration: none;
    }

    .justify-content-center .card2 .link2 .icon2 {


        color: white;
        height: 200px;
        width: 100%;
    }

    .justify-content-center .card2 .link2 .title2 {


        color: white;
        text-align: center;

    }

    .justify-content-center .card3 {
        background-color: #808bde !important;
        margin: 0 auto !important;
        height: 100% !important;
        width: 80% !important;
    }

    .justify-content-center .card3 .link3 {

        text-decoration: none;
    }

    .justify-content-center .card3 .link3 .icon3 {


        color: white;
        height: 200px;
        width: 100%;
    }

    .justify-content-center .card3 .link3 .title3 {


        color: white;
        text-align: center;

    }

    
}

/*mobile*/
@media only screen and (max-width: 755px) {
    

    .vertical-center .justify-content-center {
        margin-top: 18%;
        margin-bottom: 15%;
        justify-self: center;
    }



    .justify-content-center .card1 {
        background-color: #5098a7;
        margin: 0 auto;
        height: 90% !important;
        width: 60% !important;
        margin-bottom: 10px;
    }

    .justify-content-center .card1 .link1 {

        text-decoration: none;
    }

    .justify-content-center .card1 .link1 .icon1 {


        color: white;
        height: 100px;
        width: 90%;
    }

    .justify-content-center .card1 .link1 .title1 {


        color: white;
        text-align: center;

    }

    .justify-content-center .card2 {
        background-color: #636998;
        margin: 0 auto;
        height: 90%;
        width: 40%;
        margin-bottom: 10px;
    }

    .justify-content-center .card2 .link2 {

        text-decoration: none;
    }

    .justify-content-center .card2 .link2 .icon2 {


        color: white;
        height: 90px;
        width: 90%;
    }

    .justify-content-center .card2 .link2 .title2 {


        color: white;
        text-align: center;

    }

    .justify-content-center .card3 {
        background-color: #808bde;
        margin: 0 auto;
        height: 90% !important;
        width: 60% !important;
    }

    .justify-content-center .card3 .link3 {

        text-decoration: none;
    }

    .justify-content-center .card3 .link3 .icon3 {


        color: white;
        height: 100px;
        width: 90%;
    }

    .justify-content-center .card3 .link3 .title3 {


        color: white;
        text-align: center;

    }

}

/* tab ,ipad*/

/* @media (min-width: 756px) and (max-width: 1024px) {
    .vertical-center .justify-content-center {
        margin-top: 18%;
        margin-bottom: 15%;
    }



    .justify-content-center .card1 {
        background-color: #5098a7;
        margin: 0 auto;
        height: 90%;
        width: 40%;
        margin-bottom: 10px;
    }

    .justify-content-center .card1 .link1 {

        text-decoration: none;
    }

    .justify-content-center .card1 .link1 .icon1 {


        color: white;
        height: 100px;
        width: 90%;
    }

    .justify-content-center .card1 .link1 .title1 {


        color: white;
        text-align: center;

    }

    .justify-content-center .card2 {
        background-color: #636998;
        margin: 0 auto;
        height: 90%;
        width: 40%;
        margin-bottom: 10px;
    }

    .justify-content-center .card2 .link2 {

        text-decoration: none;
    }

    .justify-content-center .card2 .link2 .icon2 {


        color: white;
        height: 90px;
        width: 90%;
    }

    .justify-content-center .card2 .link2 .title2 {


        color: white;
        text-align: center;

    }

    .justify-content-center .card3 {
        background-color: #808bde;
        margin: 0 auto;
        height: 90%;
        width: 40%;
    }

    .justify-content-center .card3 .link3 {

        text-decoration: none;
    }

    .justify-content-center .card3 .link3 .icon3 {


        color: white;
        height: 100px;
        width: 90%;
    }

    .justify-content-center .card3 .link3 .title3 {


        color: white;
        text-align: center;

    }


} */