/* laptop */
@media only screen and (min-width: 1025px) and (max-width: 1580px) {
    .loginContainer {
        font-Weight: 700;
        width: 400px;
        height: 30%;
        border-radius: 15px;
        padding-top: 2rem;
        box-shadow: 3px 0 30px 5px rgb(0 0 0 / 0.2);
        margin: 5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logContainer {

        width: 20rem;
        display: grid;
        column-gap: 8px;
        row-gap: 12px;
        grid-template-columns: 130px 200px;
        grid-template-rows: 40px 40px 40px;

    }

    .loginHeader {

        grid-column: span 2;
        text-align: center;
        margin: -4px;


    }

    .errorStyle {
        grid-column: span 2;
    }

    .otpButton {

        background-color: #eeb919;
        font-weight: 600;
        grid-column: span 2;
        margin-bottom: 16px;

    }

    .loginButton {

        background-color: #eeb919;
        font-weight: 600;
        grid-column: span 2;

    }
    .resendOtp{
        text-decoration: none;
         color: blue;
    }
}

/*Media Query for mobile*/

@media only screen and (max-width: 755px) {

    .loginContainer {
        font-Weight: 700;
        width: 100%;
        height: 30%;
        border-radius: 15px;
        padding-top: 2rem;
        box-shadow: 3px 0 30px 5px rgb(0 0 0 / 0.2);
        margin: 5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logContainer {

        width: 20rem;
        display: grid;
        grid-template-rows: 40px 40px 40px;
        grid-template-columns: 130px 150px;
        row-gap: 12px;
        column-gap: 8px;

    }

    .loginHeader {

        grid-column: span 2;
        text-align: center;
        margin: 8px;


    }

    .errorStyle {
        grid-column: span 2;
    }

    .otpButton {

        background-color: #eeb919;
        font-weight: 600;
        grid-column: span 2;
        margin-bottom: 16px;

    }
    .loginButton {

        background-color: #eeb919;
        font-weight: 600;
        grid-column: span 2;

    }
}



@media only screen and (min-width: 756px) and (max-width: 1024px) {

    .loginContainer {
        font-Weight: 700;
        width: 400px;
        height: 30%;
        border-radius: 15px;
        padding-top: 2rem;
        box-shadow: 3px 0 30px 5px rgb(0 0 0 / 0.2);
        margin: 5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logContainer {

        width: 20rem;
        display: grid;
        column-gap: 8px;
        row-gap: 12px;
        grid-template-columns: 130px 200px;
        grid-template-rows: 40px 40px 40px;

    }

    .loginHeader {

        grid-column: span 2;
        text-align: center;
        margin: 8px;


    }

    .errorStyle {
        grid-column: span 2;
    }

    .otpButton {

        background-color: #eeb919;
        font-weight: 600;
        grid-column: span 2;
        margin-bottom: 16px;

    }
    .loginButton {

        background-color: #eeb919;
        font-weight: 600;
        grid-column: span 2;

    }
}