
/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1580px) {

    .navbarContainer{
        height: 46px;
        background-color: #BDEAED;
        width: 100%;
        flex: 1;
        justify-content: center;
        text-align: center;
    }

    .title{
        font-size: 1.2rem !important;
        margin-left: 2%;
    }
    

}


/*mobile*/
@media only screen and (max-width: 755px) {
    .title{
        font-size: 0.9rem !important;
    }
    .navbarContainer{
        height: 34px;
        background-color: #BDEAED;
        width: 100%;
    }
}

/* ipadmini */

@media only screen and  (min-width: 756px) and (max-width: 1024px) { 

    .navbarContainer{
        height: 46px;
        background-color: #BDEAED;
    }
}
