.nc-topbar {
    background-color: #395a7d !important;
    height: 90px !important;
    padding: 0 !important;
    margin: 0 !important;
    flex: auto !important;
    width: 100% !important;
    float: none !important;
}

h2 {
    font-size: 1.2rem !important;
    color: white;
    flex: 1;
    justify-content: center;
    text-align: center;
}
h6{
    font-size: 1.1rem !important;
}


.nc-topbar .header1{
    margin-top: 10px;
    justify-content: center;
    margin-left: 40px;
}

.nc-topbar .header1_Kn{
    margin-left: 50px;
    margin-top: 10px;
}
.nc-topbar .header3{
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 5px;
}

.nc-topbar .image{
    margin-top:15px;
    margin-left: 15px;
    margin-right: -40px;
    justify-content: flex-end;
}

.nc-topbar .header2{
    color: white;
    font-size: small;
    justify-content: center;
    margin-left: 40px;
}
.nc-topbar .header2_kn{
    color: white;
    font-size: small;
    justify-content: center;
    margin-left: 50px;
}
.nc-topbar .header4{
    color: white;
    justify-content: center;
    margin-left: 80px;
}

.nc-topbar .header4_Kn{
    color: white;
    justify-content: center;
    margin-left: 160px;
}
.typo {
    color: white;
    text-align: center;
    line-height: 0.3;
    flex-grow: 1;
}
.headerKR{
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}
.typo h4 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: -10px !important;
}

.justify-content-center .h {
    color: white;
    font-size: 1.2rem !important;
}

.nc-topbar .logo{
    width: 70px;
    height: 70px;
    justify-content: flex-end;
    margin-right: 90px;
   object-fit: contain;
}
.nc-topbar .language{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px;
    justify-content: flex-end;
}
.nc-topbar .selectLanguage{
    font-size: x-small;
    color:white;
    text-transform:none;
    border-radius:0px;
}

.nc-topbar .logContainer{
    justify-content: flex-end;
    margin-right: 20px;
}

body{
    overflow-x: hidden;
}
@media only screen and (min-width: 1025px) and (max-width: 1580px) {
    .nc-topbar {
        background-color: #395a7d !important;
        height: 90px !important;
        padding: 0 !important;
        margin: 0 !important;
        flex: auto !important;
        width: 100% !important;
        float: none !important;
    }

    h2 {
        font-size: 1.2rem !important;
        color: white;
        flex: 1;
        justify-content: center;
        text-align: center;
    }
    h6{
        font-size: 1.1rem !important;
    }

    
    .nc-topbar .header1{
        margin-top: 10px;
        justify-content: center;
        margin-left: 40px;
    }

    .nc-topbar .header1_Kn{
        margin-left: 50px;
        margin-top: 10px;
    }
    .nc-topbar .header3{
        margin-top: -10px;
        margin-left: -10px;
        margin-bottom: 5px;
    }

    .nc-topbar .image{
        margin-top:15px;
        margin-left: 15px;
        margin-right: -40px;
        justify-content: flex-end;
    }

    .nc-topbar .header2{
        color: white;
        font-size: small;
        justify-content: center;
        margin-left: 40px;
    }
    .nc-topbar .header2_kn{
        color: white;
        font-size: small;
        justify-content: center;
        margin-left: 50px;
    }
    .nc-topbar .header4{
        color: white;
        justify-content: center;
        margin-left: 80px;
    }

    .nc-topbar .header4_Kn{
        color: white;
        justify-content: center;
        margin-left: 160px;
    }
    .typo {
        color: white;
        text-align: center;
        line-height: 0.3;
        flex-grow: 1;
    }
    .headerKR{
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .typo h4 {
        color: white;
        font-size: 1.3rem;
        margin-bottom: -10px !important;
    }

    .justify-content-center .h {
        color: white;
        font-size: 1.2rem !important;
    }

    .nc-topbar .logo{
        width: 70px;
        height: 70px;
        justify-content: flex-end;
        margin-right: 90px;
       object-fit: contain;
    }
    .nc-topbar .language{
        width: 60px;
        height: 60px;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 0px;
        justify-content: flex-end;
    }
    .nc-topbar .selectLanguage{
        font-size: x-small;
        color:white;
        text-transform:none;
        border-radius:0px;
    }

    .nc-topbar .logContainer{
        justify-content: flex-end;
        margin-right: 20px;
    }
}

/*mobile*/
@media only screen and (max-width: 755px) {
    .section1{
        flex: auto !important;
        color:white;
    }
    .section2{
        flex: auto !important;
        float: right !important;
        margin-right: -85px !important;
        margin-top: -15px !important;
    }
    .selectLanguage{
        color: white;
    }
}

/*mobile*/
@media only screen and (max-width: 955px) {
    .nc-topbar {
        background-color: #395a7d;
        height: 120px;
        width: 105%;
    }

    h4 {
        font-size: 1rem !important;
        color: white;
        font-weight: 400;
    }

   h3{
        font-size: 1rem !important;
       
    }

    h6{
        font-size: 0.8rem !important;
        text-align: center;
    }
    .nc-topbar .emblem{
        width: 50px;
        height: 50px;
        margin-left: 10px;
        justify-content: flex-start;
    }
    .nc-topbar .image{    
        margin-left: -35px;
    }

    .nc-topbar .header1{
        margin-top: 5px;     
        justify-content: center;
        align-items: center;
        font-size: 0.7rem !important;
        padding: 0px !important;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .nc-topbar .header3{
        color: white;
        font-size: 0.9rem !important;
        margin-top: 10px;
        margin-left: -30px;
        justify-content: flex-start;
    }
    
    .nc-topbar .header2{
        color: white;   
        padding: 0px;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-top: -10px;
    }

    .nc-topbar .header4{
        color: white;
        padding: 0px;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        margin-top: -10px;
    }

    .nc-topbar .header4_Kn{
        color: white;
        justify-content: center;
        margin-left: 15px;
    }

    .nc-topbar .logo{
        width: 50px;
        height: 50px;
       
    }

    .nc-topbar .logContainer{
        margin-right: -15px;
    }

    .nc-topbar .language{
        width: 60px;
        height: 60px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: -5px;
        padding: 0px;
        justify-content: flex-end;

    }

    .nc-topbar .selectLanguage{
        font-size: xx-small;
    }
    /* .typo {
        color: white;
        text-align: center;
        line-height: 0.3;
        flex-grow: 1;
    }

    .typo h4 {
        color: white;
        font-size: 0.3rem;
        margin-bottom: -9px !important;
    }

    .justify-content-center .h {
        color: white;
        font-size: 0.8rem !important;
    }



    .justify-content-center .h2 {
        font-size: 0.9rem !important;
        margin-left: -5px;
        color: white;
    }

    .justify-content-center .icon {
        width: 50px;
    }

    .language{
        size: 50px;
    } */

}

/* ipadmini */

@media only screen and  (min-width: 756px) and (max-width: 1024px) {
    .nc-topbar {
        background-color: #395a7d;
        /* height: 100px; */
        width:100%;
        height: 150px;
    }

    .nc-topbar .header1_Kn{
        margin-left: 0px;
        font-size: medium;
    }
    .nc-topbar .headerText_Kn{
        font-size: 1.5rem !important;
    }
    h2 {
        font-size: 1.3 rem !important;
        color: white;
    }

   /* h4 {
        font-size: 1rem !important;
    } */

    h6{
        font-size: 1.3rem !important;
        text-align: center;
    }

    .nc-topbar .headerText{
        font-size: 1.3rem !important;
        font-weight: 500;
    }
    .nc-topbar .emblem{
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }
    .nc-topbar .image{    
        margin-left: -35px;
    }

    .nc-topbar .header1{
        margin-top: 5px;     
        justify-content: center;
        align-items: center;
        font-size: 1.3rem !important;
        padding: 0px !important;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .nc-topbar .header3{
        color: white;
        font-size: 1.3rem !important;
        margin-top: 10px;
        margin-left: -35px;
        justify-content: center;
        align-items: center;
    }
    
    .nc-topbar .header2{
        color: white;   
        padding: 0px;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        margin-top: -10px;
    }

    .nc-topbar .header4{
        color: white;
        padding: 0px;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        margin-top: -10px;
    }

    .nc-topbar .header4_Kn{
        color: white;
        justify-content: center;
        margin-left: 15px;
    }

    .nc-topbar .logo{
        width: 80px;
        height: 80px;
       
    }

    .nc-topbar .logContainer{
        margin-right: -10px;
    }

    .nc-topbar .language{
        width: 80px;
        height: 80px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-left: -5px;
        padding: 0px;
        justify-content: first baseline;
    }

    .nc-topbar .selectLanguage{
        font-size: small;
    }

    .typo h4 {
        color: white;
        font-size: 1.3rem;
        margin-bottom: -10px !important;
    }

    .justify-content-center .h {
        color: white;
        font-size: 1.2rem !important;
    }
}