.tableStyle{
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (min-width: 1025px) and (max-width: 1580px) {
    .TableButton{
        width: 78px;
        -ms-text-justify: auto;
    }

    .mb-2 {
        background-color: #BDEAED;
        height: 50px;
    }

    .mb-2 .User {

        margin-left: 10px;
        font-size: 1.5rem !important;

    }



    .d-flex .dropdown {

        position: static;
        overflow-y: auto;
    }

    .row {

        flex-direction: row;
    }

    .row .col1 {

        margin-left: 5px;
    }

    .row .col1 .select-dropdowns1 {
        width: fit-content;
    }

    .row .col2 {
        margin-left: -120px;
    }

    .row .col2 .select-dropdowns2 {
        width: fit-content;
    }

    .row .col3 {
        margin-left: -90px;
    }

    .row .col3 .select-dropdowns3 {
        width: fit-content;

    }

    .row .col4 {
        margin-left: 30px;

    }

    .d-flex .m-3 {
        /* background-color: #91b1c2; */
        color: #000;
        border: none;
    }

    .table {
        width: 200px;
    }

}

@media only screen and (max-width: 755px) {
    .mb-2 {
        background-color: #6ba9bf;
    }

    .col-lg-2 {
        width: 19.666667%;
    }

    .mb-2 .User {

        margin-left: 10px;
    }

    .d-flex .dropdown {
        margin-left: 160px;
        position: static;
        overflow-y: auto;

    }



    .row {

        flex-direction: column;
    }

    .row .col1 {

        margin-left: 30px;
        margin-bottom: 5px;
    }

    .row .col1 .select-dropdowns1 {
        width: 210px;
        height: fit-content;

    }

    .row .col2 {
        margin-left: 30px;
        margin-bottom: 5px;

    }

    .row .col2 .select-dropdowns2 {
        width: 210px;
    }

    .row .col3 {
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .row .col3 .select-dropdowns3 {
        width: 210px;

    }

    .row .col4 {
        margin-left: 30px;

    }

    .d-flex .m-3 {
        /* background-color: #91b1c2; */
        color: #000;
        border: none;
    }

    .table {

        display: flex;
        flex-direction: column;
    }


}

@media only screen and (min-width: 756px) and (max-width: 1024px) {
    .mb-2 {
        background-color: #6ba9bf;
    }

    .mb-2 .User {

        margin-left: 10px;
    }

    .d-flex .dropdown {

        position: static;
        overflow-y: auto;
        
    }

    .row {

        flex-direction: row;
    }

    .m .row .col1 {

        margin-left: 5px;
    }

    .row .col1 .select-dropdowns1 {
        width: fit-content
    }

    .row .col2 {
        margin-left: -2px;
    }

    .row .col2 .select-dropdowns2 {
        width: fit-content
    }

    .row .col3 {
        margin-left: -5px;
    }

    .row .col3 .select-dropdowns3 {
        width: fit-content
    }

    .row .col4 {
        margin-left: 60px;

    }

    .d-flex .m-3 {
        /* background-color: #91b1c2; */
        color: #000;
        border: none;
    }
}