/*Serach*/
.select-dropdowns {
  cursor: pointer;
  width: 100%;
  margin: 10px;
  text-align: left;
  height: 40px;
  font-size: small;
}

.text-wrap {
  white-space: normal;
}

.dashboard-container {
  margin-top: 2rem !important;
  max-width: 98% !important;
}

/*overview/dependents border*/
.dashboard-card-row {
  text-align: -webkit-center;
  font-weight: bold;
  border: 1px solid;
  padding: 32px;
  margin-top: -16px;
  margin-right: 0px;
  margin-left: 0px;
  border-color: #172d66 #172d66 #172d66;
  border-width: medium;
  background-color: white;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 8px !important;
  width: 100% !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.dependents-border {
  text-align: -webkit-center;
  border: 1px solid;
  padding: 32px;
  margin-top: -16px;
  margin-right: 0px;
  margin-left: 0px;
  border-color: #172d66 #172d66 #172d66;
  border-width: medium;
  background-color: white;
  width: 100% !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 8px !important;
  width: 100% !important;
}

/******ends here******/
.nav-tabs .nav-link {
  color: blue;
  background-color: white !important;
  border-color: white;
  border-bottom-width: initial;
  border-bottom-left-radius: 1px !important;
  font-weight: 500;
  width: 9rem;
  /* margin-left: 0.rem;*/
}

.nav-tabs .nav-link.active {
  color: white !important;
  background-color: blue !important;
  border-color: blue;
  border-bottom-width: initial;
  font-weight: 500;
  width: 9rem;
}

.statusStyle {
  color: orange !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  background: white !important;
  border: 1px solid orange !important;
  border-radius: 15px !important;
}

.tableStyle {
  font-weight: 400 !important;
  font-size: 16px !important;
}

/* .nav-tabs .nav-item.show .nav-link {
//   color: $white !important;
//   background-color: blue !important;
//   border-color: $esiBlue $esiBlue $esiBlue;
//   border-bottom-width: initial;
// }
*/
.nav-tabs {
  border-width: small;
}

li.nav-item {
  font-weight: 500;
}

.dependents-tab {
  margin-left: 1rem;
}

.rdt_TableHeadRow {
  background-color: #cdd8e2 !important;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
  color: blue !important;
  margin-top: 1rem;
  font-size: medium;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  width: 200px;
}

.esi-navy-blue-button {
  padding: 4px;
  width: 124px;
  /* margin-left: 84rem;*/
}

#addnewclaim-button {
  float: right;
  /* margin-bottom: -32px;*/
}

.search {
  position: relative;
  width: 14rem !important;
}

.search1 {
  margin-top: -32px;
  margin-left: 200px;
  position: absolute;
  cursor: pointer;
}

.acc-container {
  width: 100% !important;
  margin-top: 1rem;
}

p {
  margin-top: 6px;
  margin-bottom: 0.5rem;
  word-break: break-all;
}

/*------ipclaimhistoryadmin------*/

#esi-tabs-tab-individualBills {
  margin-left: 1rem;
  width: 93%;
}

#esi-tabs-tab-groupBills {
  margin-left: 1rem;
  width: 93%;
}

#esi-tabs-tab-stage {
  margin-left: 1rem;
  width: 93%;
}

#esi-tabs-tab-logs {
  margin-left: 1rem;
  width: 93%;
}

/*mobile*/
@media only screen and (max-width: 755px) {
  .accordianContainer {
    margin-left: -10px ;
  }

  .mobileStatusStyle {
    color: orange !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    background: white !important;
    border: 1px solid orange !important;
    border-radius: 15px !important;
  }

  .mobileTableStyle {
    font-weight: 300 !important;
    font-size: 12px !important;
  }
}