.statusStyle {
    color: orange !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    background: white !important;
    border: 1px solid orange !important;
    border-radius: 15px !important;
}

.tableStyle {
    font-weight: 400 !important;
    font-size: 16px !important;
}
.downloadAllButton{
    background-color:#13d66e !important;
}

/*mobile*/
@media only screen and (max-width: 755px) {
    .accordianContainer {
        margin-left: -10px !important;
    }

    .mobileStatusStyle {
        color: orange !important;
        font-weight: 300 !important;
        font-size: 12px !important;
    }

    .mobileTableStyle {
        font-weight: 300 !important;
        font-size: 12px !important;
    }
}