.card {
    width: 13rem !important;
    height: 8rem !important;
    /* backgroundColor: backgroundColor; */
    text-align: center !important;
    box-shadow: 4px 4px 5px #666 !important;
    color: 0px 0px 2px 1px rgba(148, 148, 148, 1) !important;
    margin: 1rem !important;
    border-radius: 10% !important;
}

.cardTitle {
    color: white !important;
    font-size: 1.1rem !important;
    font-weight: bold !important;
    padding: 15px !important;
}

.cardText {

    font-size: 25px !important;
    font-weight: bold !important;
    color: white !important;

}

.one{
    background-color: #636998  !important;
}

.two {
    background-color: rgba(255, 95, 88) !important;
}

.three {
    background-color: rgba(80, 152, 167) !important;
}

.four {
    background-color:rgb(170, 229, 9) !important;
}

.five{
    background-color:rgb(176, 53, 133) !important;
}

.six{
    background-color: rgba(243, 202, 62) !important;
}

.seven{
    background-color: rgb(119, 70, 25) !important;
}

.eight{
    background-color: rgb(101, 51, 121) !important;
}

.nine{
    background-color: rgb(26, 152, 169) !important;
}